
.body-content {
    min-width: 280px;
    max-width: 1170px;
}

.text-nowrap {
    white-space: nowrap;
}

.instance-list-container {
    margin-bottom: 15px;
}

#instance-list {
    margin-bottom: 0;
}

#instance-list th {
    vertical-align: bottom;
}

@media (min-width: 601px) {
    #instance-list td.hidden-xs {
        display: table-cell !important;
    }
}

.pagination-controls > .page-size,
.pagination-controls > .pagination {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px 15px 5px;
}

.pagination-controls .page-size .form-group {
    margin: 0;
}

.pagination-controls .btn {
    margin-bottom: 15px;
}

.instance-list-callout.callout {
    margin: 0;
}

.shifted-text-field-left {
    padding-left: 12px;
}

.shifted-text-field-right {
    padding-right: 12px;
}

#manage-site-view .password-input-container input.field {
    margin-bottom: 0;
}

#manage-site-view .current-strength-text {
    margin-top: 10px;
}

#manage-site-view .strength {
    padding: 10px 12px;
    padding-bottom: 0;
    line-height: 0;
}

#manage-site-view .breadcrumb li {
    font-weight: 400;
}

#manage-site-view .h4-extra {
    margin-top: 4px;
}

#manage-site-view #warning-update-avail-autoupdate-disabled,
#manage-site-view #info-update-avail-pending {
    margin-bottom: 0;
}

#manage-site-view #lnk-toggle-advanced {
    margin-bottom: 20px;
}

#manage-site-view .breadcrumb {
    display: inline-block;
}

#manage-site-view .username-container.col-md-12 {
    transition: 300ms width;
}

#manage-site-view .chosen-container {
    width: 100% !important;
}

#manage-site-view .chosen-container .chosen-single {
    line-height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    height: inherit;
}

html[dir="ltr"] #manage-site-view .chosen-container .chosen-single {
    padding-left: 12px;
}

html[dir="rtl"] #manage-site-view .chosen-container .chosen-single {
    padding-right: 12px;
}

#manage-site-view .chosen-container b {
    background-position-y: 6px;
}

#manage-site-view .chosen-container .chosen-single,
#manage-site-view .chosen-container .chosen-search > input,
#manage-site-view .chosen-container .chosen-results > li {
    font-size: 14px;
}

#manage-site-view .link-show-change-password:hover {
    text-decoration: none;
}

#manage-site-view .link-show-change-password:hover span {
    text-decoration: underline;
}

@media (max-width: 991px) {
    #manage-site-view #link-show-change-db-password,
    #manage-site-view .no-chosen #link-show-change-admin-password {
        margin-top: -10px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    #manage-site-view #link-show-change-db-password,
    #manage-site-view .no-chosen #link-show-change-admin-password {
        padding-top: 0;
        padding-bottom: 0;
        border-width: 0;
    }
}

#manage-site-view .validation-container {
    margin-top: 10px;
}

#manage-site-view .animate-page-section.ng-enter {
    transition: 0.4s ease all;
    opacity: 0;
}

#manage-site-view .animate-page-section.ng-enter-active {
    opacity: 1;
}

#manage-site-view .animate-page-section.ng-leave {
    transition: 0.2s ease all;
    opacity: 1;
}

#manage-site-view .animate-page-section.ng-leave-active {
    opacity: 0;
}

#manage-site-view .warning-detail {
    margin-top: 10px;
}

#manage-site-view .field {
    margin-bottom: 10px;
}

html[dir="ltr"] #manage-site-view .field,
html[dir="ltr"] #manage-site-view .change-password-alert-container {
    padding-left: 12px;
}

html[dir="rtl"] #manage-site-view .field,
html[dir="rtl"] #manage-site-view .change-password-alert-container {
    padding-right: 12px;
}

#manage-site-view #alert-list-autoupdate {
    margin-bottom: 0px;
}

.instance-actions a.icon-link:hover {
    text-decoration: none;
}

.instance-actions a.icon-link:hover span {
    text-decoration: underline;
}

#advanced-settings_SetValuePanel {
    margin-top: 10px;
}

#search-area .input-row {
    display: flex;
}

#search-area .input-row .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -10px;
}

@media (min-width: 768px) {
    .text-right-sm {
        text-align: right;
    }

    html[dir="rtl"] .text-right-sm.flip {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .text-right-md {
        text-align: right;
    }

    html[dir="rtl"] .text-right-md.flip {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .text-right-lg {
        text-align: right;
    }

    html[dir="rtl"] .text-right-lg.flip {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .text-left-sm {
        text-align: left;
    }

    html[dir="rtl"] .text-left-sm.flip {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .text-left-md {
        text-align: left;
    }

    html[dir="rtl"] .text-left-md.flip {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .text-left-lg {
        text-align: left;
    }

    html[dir="rtl"] .text-left-lg.flip {
        text-align: right;
    }
}

#plugin-version-info {
    color: #555555;
    font-size: smaller;
}

html[dir="ltr"] #plugin-version-info {
    text-align: left;
    padding-left: 5px;
}

html[dir="rtl"] #plugin-version-info {
    text-align: right;
    padding-right: 5px;
}

#plugin-version-info #plugin-version {
    font-style: italic;
}

.callout-message {
    display: inline-block;
}

html[dir="ltr"] .callout-message {
    padding-left: 5px;
}

html[dir="rtl"] .callout-message {
    padding-right: 5px;
}

#pageHeading {
    font-size: 24px;
}

.microweber-plugin button{
    outline:  0 !important;
}

.microweber-plugin {
    padding: 15px 35px;
}

.microweber-plugin a {
    color: #0086db;
}

.microweber-plugin .page-icon img {
    max-width: 240px;
}

.microweber-plugin .instance-list thead tr {
    background: transparent;
}

.microweber-plugin .instance-list thead tr th {
    border-bottom: 3px solid #0086db;
}

.microweber-plugin .instance-list td {
    padding: 10px;
    font-size: 16px;

    color: #0086db;
}

.microweber-plugin .instance-list .action {
    text-align: right;
}

.microweber-plugin .instance-list .action a {
    padding: 5px 10px;
    margin: 0 5px;
}

.microweber-plugin .instance-list .action .update {
    background: #0086db;
    color: #fff;
    border: 1px solid #0086db;
}

.microweber-plugin .instance-list .action .login {
    background: #fff;
    color: #0086db;
    border: 1px solid #0086db;
}

.microweber-plugin .instance-list .action .remove {
    color: #505050;
    font-size: 20px;
    padding: 0;
    background: transparent;
    border: 0;
    display: inline-block;
}

.microweber-plugin .instance-list .mw-icon {
    width: 22px;
    margin: 0 10px
}

.microweber-plugin .btn-primary {
    color: #fff;
    background: #0086db;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #0086db;
}

.microweber-plugin .btn-primary.outline {
    color: #0086db;
    background: #fff;

}

.microweber-plugin .btn,
.microweber-plugin .update,
.microweber-plugin .login,
.microweber-plugin .remove {
    font-size: 14px;
    text-decoration: none !important;
}

.microweber-plugin .table-striped tbody tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.microweber-plugin .table-striped > tbody > tr:nth-child(even) > td {
    background: #fff;
}

.microweber-plugin .callout {
    font-size: 17px;
    color: #505050;
}

.microweber-plugin .callout-info {
    background: #ebf7ff;
    color: #505050;
}

.microweber-plugin .callout-silver {
    background: #f5f5f5;
    color: #505050;
}

.microweber-plugin .callout-info > .fa {
    color: #0086db;
}

.microweber-plugin .callout > .fa {
    margin-right: 10px;
    font-size: 22px;
}

.microweber-plugin .inline-element {
    display: inline-block;
    width: auto;
}

.microweber-plugin .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}