name: Build RPM
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    container: 'centos:latest'

    steps:
    - uses: actions/checkout@v3

    - name: Install rpmbuild
      run:
        |
        sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
        sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*
        dnf distro-sync -y
        dnf install epel-release -y
        dnf makecache --refresh
        dnf -y install ncftp
        yum install -y createrepo rpm-build rpm-sign wget gcc python3 yum-utils
        yum install -y ncftp
        yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
        yum -y install https://rpms.remirepo.net/enterprise/remi-release-7.rpm
        yum -y install yum-utils
        yum-config-manager --disable 'remi-php*'
        yum-config-manager --enable remi-php81
        yum repolist
        yum -y install php php-{cli,fpm,fileinfo,zip,devel,mbstring,curl,xml,bcmath,json}
        sudo sed -i '/^failovermethod=/d' /etc/yum.repos.d/*.repo
        yum -y clean all
        yum -y check
        yum -y check-update
        yum -y update
        yum -y update --nobest

    - name: Install composer
      run:
        |
        php -v
        php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
        php composer-setup.php --install-dir=/usr/local/bin --filename=composer

    - name: Run build
      run:
        |
        cd plugin
        php -v
        composer install
        cd ../
        cd rpm-builder/
        php pack.php
        RPM_FILE="$(php update_repo.php)"
        ls -la
        echo RPM_FILE
        ncftpput -u ${{ secrets.FTP_USERNAME }} -p ${{ secrets.FTP_PASSWORD }} ${{ secrets.FTP_HOST }} / $RPM_FILE
        echo "Uploaded file complete"
